<body>

    <form [formGroup]="adminloginForm">
        <div class="container">
            <div class="login">
                <h1> Admin login </h1>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" formControlName="email" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">User ID</label>
                </div>
                <div *ngIf="this.adminloginForm.get('email')?.touched&&this.adminloginForm.get('email')?.errors"
                    class="mb-3 text-danger">
                    *Invalid User Id
                </div>
                <div id="output"></div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="pswd" formControlName="pswd" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div *ngIf="this.adminloginForm.get('pswd')?.touched&&this.adminloginForm.get('pswd')?.errors"
                    class="mb-3 text-danger">
                    *Invalid Password!
                </div>
                <div class="btn">
                    <button type="button">Login</button>
                    <div id="output"></div>
                </div>
            </div>
        </div>
    </form>
</body>
