<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6" ><img style="width: 450px;" class="card-img-top mb-5 mb-md-0"   alt="..." /></div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <button type="button" class="btn btn"><i class="fa-solid fa-info"></i>Info</button>
                    <button  type="button" class="btn"><i class="fa-solid fa-arrow-down" style="color: #00660c;"></i>Download</button>
                </div>                    

            </div>
        </div>
    </div>
</section>